---
name: "Scheduled Release"

concurrency:
  group: container-release
  cancel-in-progress: false

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

env:
  TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  generate-build-matrix:
    name: Generate matrix for building images
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.fetch.outputs.changes }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Install tools
        run: sudo apt-get install moreutils jo

      - name: Generate Token
        uses: tibdex/github-app-token@v2.1.0
        id: generate-token
        with:
          app_id: "${{ secrets.BOT_APP_ID }}"
          private_key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Fetch new app versions
        id: fetch
        uses: actions/github-script@v8.0.0
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
            const fetchAction = await import('${{ github.workspace }}/.github/scripts/index.mjs');
            
            await fetchAction.changes(glob, context, github, core);

  images-build:
    uses: mmalyska/containers/.github/workflows/action-image-build.yaml@main
    if: ${{ needs.generate-build-matrix.outputs.matrix != '[]' && needs.generate-build-matrix.outputs.matrix != '' }}
    needs: ["generate-build-matrix"]
    with:
      imagesToBuild: "${{ needs.generate-build-matrix.outputs.matrix }}"
      pushImages: "true"
      updateMetadata: "true"
      sendNotification: "true"
    secrets: inherit
